# Archives
*.gz
*.zip
*.tar
*.rar
*.7z

# Python
*.pyc
venv/

# Logs
*.log
*.out

# Databases
*.sqlite

# OS
.DS_Store
Thumbs.db

# PyCharm
.idea/
*.iml

# Vim
*.swp

# VS Code
.vscode

# Other
*.old
*.bak

# VS Code
.vscode

# This app
config/patronload.config
tmp/*
!tmp/.gitkeep
